.searchInput {
  width: 50%;
  margin: 0 auto;
  /* justify-content: space-around; */
}
.movieTabs {
  width: 50%;
  margin: 0 auto;
  padding-top: 1%;
}

.login {
  text-align: center;
  margin-top: 2em;
}

.genres {
  /*padding-left: 40%;*/
}
