.searchInput {
  width: 50%;
  margin: 0 auto;
  /* justify-content: space-around; */
}
.movieTabs {
  width: 50%;
  margin: 0 auto;
  padding-top: 1%;
}

.btnFacebook {
  width: 165px;
  height:35px;
  border-radius: 4px;
  background: #3b5998;
  color:white;
  border:0px transparent;
  text-align: center;
  margin:5px;
  display: inline-block;
 }

 .btnGoogle {
  margin:5px;
  width: 165px;
  height:35px;
  border-radius: 4px;
  background: #db3236;
  color:white;
  border:0px transparent;
  text-align: center;
 }
.genres {
  /*padding-left: 40%;*/
}
.movieTitle {
  font-size: 1.5em;
}
.react-rater-star.is-active {
  color: #ffcc00 !important;
  width: 100% !important;
}
.rate {
  font-size: 1.8em;
  display: inline-block;
}
.ratingStars {
    margin-left: 120px;
    margin-top: 20px;
}
