.searchInput {
  width: 50%;
  margin: 0 auto;
  /* justify-content: space-around; */
}
.movieTabs {
  width: 50%;
  margin: 0 auto;
  padding-top: 1%;
}

.login {
  text-align: center;
  margin-top: 2em;
}

.genres {
  /*padding-left: 40%;*/
}
.movieTitle {
  font-size: 1.5em;
}
.react-rater-star.is-active {
  color: #ffcc00 !important;
  width: 100% !important;
}
.rate {
  font-size: 1.8em;
  display: inline-block;
}
.ratingStars {
    margin-left: 80px;
    margin-top: 40px;
}
